@use "../../App.scss" as app;

.leftBar {
    flex: 2;
    height: calc(100vh - 50px );
    top: 50px;
    position: -webkit-sticky;
    position: sticky;
    overflow: scroll;
    background-color: var(--bg);
    color: var(--textColor);

    @include app.mobile {
        display: none; /* Hide on mobile devices */
    }

    &::-webkit-scrollbar {
        display: none; /* Hide scrollbar for a cleaner UI */
    }


    .container {
        padding: 20px;

        hr {
            margin: 20px 0px ;
            border: none;
            height: 0.5px;
            background-color: var(--border);
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 20px;

            span {
                font-size: 12px;
            }

            .user {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    object-fit: cover;
                }
    
                span{
                    font-size: 14px;
                }
            }

            .item {
                display: flex;
                align-items: center;
                gap: 10px;
    
                img{
                    width: 30px;
                }
    
                span{
                    font-size: 14px;
                }
            }

        }

    }
}